nav a img{
    width: 50px;
}
 nav{
     background-color: #cedae0;
 }
 .slider-width{
     height: 360px;
 }
 .pro{
     padding: 10px 0;
     
 }

 .p-box{
     margin-bottom: 25px !important;
     height: 10px !important;
 }